/*! CSS Used from: Embedded */
svg:not(:root).svg-inline--fa {
 overflow: visible;
}
.svg-inline--fa {
 display: inline-block;
 font-size: inherit;
 height: 1em;
 overflow: visible;
 vertical-align: -0.125em;
}
.svg-inline--fa.fa-w-10 {
 width: 0.625em;
}
/*! CSS Used from: Embedded */
svg:not(:root).svg-inline--fa {
 overflow: visible;
}
.svg-inline--fa {
 display: inline-block;
 font-size: inherit;
 height: 1em;
 overflow: visible;
 vertical-align: -0.125em;
}
.svg-inline--fa.fa-w-10 {
 width: 0.625em;
}
/*! CSS Used from: https://themes.startbootstrap.com/sb-admin-pro/css/styles.css */
*,
*::before,
*::after {
 box-sizing: border-box;
}
ul {
 margin-top: 0;
 margin-bottom: 1rem;
}
a {
 color: #0061f2;
 text-decoration: none;
 background-color: transparent;
}
a:hover {
 color: #0042a6;
 text-decoration: underline;
}
svg {
 overflow: hidden;
 vertical-align: middle;
}
table {
 border-collapse: collapse;
}
th {
 text-align: inherit;
}
label {
 display: inline-block;
 margin-bottom: 0.5rem;
}
button {
 border-radius: 0;
}
button:focus {
 outline: 1px dotted;
 outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select {
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
}
button,
input {
 overflow: visible;
}
button,
select {
 text-transform: none;
}
select {
 word-wrap: normal;
}
button {
 -webkit-appearance: button;
}
button::-moz-focus-inner {
 padding: 0;
 border-style: none;
}
[type="search"] {
 outline-offset: -2px;
 -webkit-appearance: none;
}
.row {
 display: -webkit-box;
 display: flex;
 flex-wrap: wrap;
 margin-right: -0.75rem;
 margin-left: -0.75rem;
}
.col-md-7,
.col-md-6,
.col-md-5,
.col-sm-12 {
 position: relative;
 width: 100%;
 padding-right: 0.75rem;
 padding-left: 0.75rem;
}
@media (min-width: 576px) {
 .col-sm-12 {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
 }
}
@media (min-width: 768px) {
 .col-md-5 {
  -webkit-box-flex: 0;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
 }
 .col-md-6 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
 }
 .col-md-7 {
  -webkit-box-flex: 0;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
 }
}
.table {
 width: 100%;
 margin-bottom: 1rem;
 color: #687281;
}
.table th,
.table td {
 padding: 0.75rem;
 vertical-align: top;
 border-top: 1px solid #e3e6ec;
}
.table thead th {
 vertical-align: bottom;
 border-bottom: 2px solid #e3e6ec;
}
.table-bordered {
 border: 1px solid #e3e6ec;
}
.table-bordered th,
.table-bordered td {
 border: 1px solid #e3e6ec;
}
.table-bordered thead th {
 border-bottom-width: 2px;
}
.table-hover tbody tr:hover {
 color: #687281;
 background-color: rgba(227, 230, 236, 0.25);
}
.table-responsive,
.datatable {
 display: block;
 width: 100%;
 overflow-x: auto;
 -webkit-overflow-scrolling: touch;
}
.form-control {
 display: block;
 width: 100%;
 height: calc(1.5em + 1rem + 2px);
 padding: 0.5rem 1rem;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 color: #687281;
 background-color: #fff;
 background-clip: padding-box;
 border: 1px solid #c5ccd6;
 border-radius: 0.35rem;
 -webkit-transition: border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
 transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
 .form-control {
  -webkit-transition: none;
  transition: none;
 }
}
.form-control::-ms-expand {
 background-color: transparent;
 border: 0;
}
.form-control:-moz-focusring {
 color: transparent;
 text-shadow: 0 0 0 #687281;
}
.form-control:focus {
 color: #687281;
 background-color: #fff;
 border-color: #0061f2;
 outline: 0;
 box-shadow: 0 0 0 0.0625rem #0061f2;
}
.form-control::-webkit-input-placeholder {
 color: #687281;
 opacity: 1;
}
.form-control::-moz-placeholder {
 color: #687281;
 opacity: 1;
}
.form-control:-ms-input-placeholder {
 color: #687281;
 opacity: 1;
}
.form-control::-ms-input-placeholder {
 color: #687281;
 opacity: 1;
}
.form-control::placeholder {
 color: #687281;
 opacity: 1;
}
.form-control:disabled {
 background-color: #e3e6ec;
 opacity: 1;
}
.form-control-sm {
 height: calc(1.5em + 0.5rem + 2px);
 padding: 0.25rem 0.5rem;
 font-size: 0.875rem;
 line-height: 1.5;
 border-radius: 0.25rem;
}
.btn {
 display: inline-block;
 font-weight: 400;
 color: #687281;
 text-align: center;
 vertical-align: middle;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background-color: transparent;
 border: 1px solid transparent;
 padding: 0.5rem 1rem;
 font-size: 1rem;
 line-height: 1.5;
 border-radius: 0.35rem;
 -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
 .btn {
  -webkit-transition: none;
  transition: none;
 }
}
.btn:hover {
 color: #687281;
 text-decoration: none;
}
.btn:focus {
 outline: 0;
 box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.25);
}
.btn:disabled {
 opacity: 0.65;
}
.custom-select {
 display: inline-block;
 width: 100%;
 height: calc(1.5em + 1rem + 2px);
 padding: 0.5rem 2rem 0.5rem 1rem;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 color: #687281;
 vertical-align: middle;
 background: #fff
  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23323f52' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
  no-repeat right 1rem center/8px 10px;
 border: 1px solid #c5ccd6;
 border-radius: 0.35rem;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}
.custom-select:focus {
 border-color: #0061f2;
 outline: 0;
 box-shadow: 0 0 0 0.0625rem rgba(0, 97, 242, 0.25);
}
.custom-select:disabled {
 color: #687281;
 background-color: #e3e6ec;
}
.custom-select::-ms-expand {
 display: none;
}
.custom-select:-moz-focusring {
 color: transparent;
 text-shadow: 0 0 0 #687281;
}
.custom-select-sm {
 height: calc(1.5em + 0.5rem + 2px);
 padding-top: 0.25rem;
 padding-bottom: 0.25rem;
 padding-left: 0.5rem;
 font-size: 0.875rem;
}
.custom-select {
 -webkit-transition: background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
 .custom-select {
  -webkit-transition: none;
  transition: none;
 }
}
.card-body {
 -webkit-box-flex: 1;
 flex: 1 1 auto;
 min-height: 1px;
 padding: 1.35rem;
}
.card-header {
 padding: 1rem 1.35rem;
 margin-bottom: 0;
 background-color: rgba(31, 45, 65, 0.03);
 border-bottom: 1px solid rgba(31, 45, 65, 0.125);
}
.pagination {
 display: -webkit-box;
 display: flex;
 padding-left: 0;
 list-style: none;
 border-radius: 0.35rem;
}
.page-link {
 position: relative;
 display: block;
 padding: 0.5rem 0.75rem;
 margin-left: -1px;
 line-height: 1.25;
 color: #0061f2;
 background-color: #fff;
 border: 1px solid #d7dce3;
}
.page-link:hover {
 z-index: 2;
 color: #0042a6;
 text-decoration: none;
 background-color: #e3e6ec;
 border-color: #d7dce3;
}
.page-link:focus {
 z-index: 3;
 outline: 0;
 box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.25);
}
.page-item:first-child .page-link {
 margin-left: 0;
 border-top-left-radius: 0.35rem;
 border-bottom-left-radius: 0.35rem;
}
.page-item:last-child .page-link {
 border-top-right-radius: 0.35rem;
 border-bottom-right-radius: 0.35rem;
}
.page-item.active .page-link {
 z-index: 3;
 color: #fff;
 background-color: #0061f2;
 border-color: #0061f2;
}
.page-item.disabled .page-link {
 color: #687281;
 pointer-events: none;
 cursor: auto;
 background-color: #fff;
 border-color: #d7dce3;
}
.badge {
 display: inline-block;
 padding: 0.25em 0.4em;
 font-size: 75%;
 font-weight: 400;
 line-height: 1;
 text-align: center;
 white-space: nowrap;
 vertical-align: baseline;
 border-radius: 0.35rem;
 -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
 .badge {
  -webkit-transition: none;
  transition: none;
 }
}
.badge:empty {
 display: none;
}
.badge-pill {
 padding-right: 0.6em;
 padding-left: 0.6em;
 border-radius: 10rem;
}
.badge-primary {
 color: #fff;
 background-color: #0061f2;
}
.badge-secondary {
 color: #fff;
 background-color: #6900c7;
}
.badge-info {
 color: #fff;
 background-color: #00cfd5;
}
.badge-warning {
 color: #fff;
 background-color: #f4a100;
}
.mr-2 {
 margin-right: 0.5rem !important;
}
@media print {
 *,
 *::before,
 *::after {
  text-shadow: none !important;
  box-shadow: none !important;
 }
 a:not(.btn) {
  text-decoration: underline;
 }
 thead {
  display: table-header-group;
 }
 tr {
  page-break-inside: avoid;
 }
 .badge {
  border: 1px solid #000;
 }
 .table {
  border-collapse: collapse !important;
 }
 .table td,
 .table th {
  background-color: #fff !important;
 }
 .table-bordered th,
 .table-bordered td {
  border: 1px solid #d7dce3 !important;
 }
}
.btn {
 display: -webkit-inline-box;
 display: inline-flex;
 -webkit-box-align: center;
 align-items: center;
 -webkit-box-pack: center;
 justify-content: center;
}
.btn-icon {
 padding: 0;
 -webkit-box-pack: center;
 justify-content: center;
 overflow: hidden;
 border-radius: 100%;
 flex-shrink: 0;
 height: calc((1rem * 1.5) + (0.5rem * 2) + (2px)) !important;
 width: calc((1rem * 1.5) + (0.5rem * 2) + (2px)) !important;
}
.btn .feather {
 height: 1rem;
 width: 1rem;
}
.btn-transparent-dark {
 color: #fff;
 background-color: transparent;
 border-color: transparent;
 color: rgba(31, 45, 65, 0.5) !important;
}
.btn-transparent-dark:hover {
 color: #fff;
 background-color: rgba(31, 45, 65, 0.1);
 border-color: transparent;
}
.btn-transparent-dark:focus {
 color: #fff;
 background-color: rgba(31, 45, 65, 0.1);
 border-color: transparent;
 box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-transparent-dark:disabled {
 color: #fff;
 background-color: transparent;
 border-color: transparent;
}
.btn-transparent-dark:focus {
 box-shadow: 0 0 0 0.2rem rgba(31, 45, 65, 0.25) !important;
}
.feather {
 height: 1rem;
 width: 1rem;
 vertical-align: top;
}
.datatable {
 font-size: 0.85rem;
}
@media (min-width: 768px) {
 .datatable {
  overflow: visible;
 }
}
.datatable table.dataTable thead,
.datatable table.dataTable tfoot {
 color: #0061f2;
}
.datatable table.dataTable thead th,
.datatable table.dataTable tfoot th {
 font-weight: 600;
}
.datatable .btn-datatable {
 height: 20px !important;
 width: 20px !important;
 font-size: 0.75rem;
 border-radius: 0.35rem !important;
}
.datatable table.dataTable thead .sorting:before,
.datatable table.dataTable thead .sorting_asc:before,
.datatable table.dataTable thead .sorting:after,
.datatable table.dataTable thead .sorting_asc:after {
 display: none;
 font-family: "Font Awesome 5 Free";
 font-weight: 900;
}
.datatable table.dataTable thead .sorting:after {
 content: "";
}
.datatable table.dataTable thead .sorting_asc:after {
 content: "";
}
/*! CSS Used from: https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css */
table.dataTable {
 clear: both;
 margin-top: 6px !important;
 margin-bottom: 6px !important;
 max-width: none !important;
 border-collapse: separate !important;
 border-spacing: 0;
}
table.dataTable td,
table.dataTable th {
 -webkit-box-sizing: content-box;
 box-sizing: content-box;
}
div.dataTables_wrapper div.dataTables_length label {
 font-weight: normal;
 text-align: left;
 white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_length select {
 width: auto;
 display: inline-block;
}
div.dataTables_wrapper div.dataTables_filter {
 text-align: right;
}
div.dataTables_wrapper div.dataTables_filter label {
 font-weight: normal;
 white-space: nowrap;
 text-align: left;
}
div.dataTables_wrapper div.dataTables_filter input {
 margin-left: 0.5em;
 display: inline-block;
 width: auto;
}
div.dataTables_wrapper div.dataTables_info {
 padding-top: 0.85em;
 white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_paginate {
 margin: 0;
 white-space: nowrap;
 text-align: right;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
 margin: 2px 0;
 white-space: nowrap;
 justify-content: flex-end;
}
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting {
 padding-right: 30px;
}
table.dataTable thead > tr > th:active {
 outline: none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc {
 cursor: pointer;
 position: relative;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after {
 position: absolute;
 bottom: 0.9em;
 display: block;
 opacity: 0.3;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before {
 right: 1em;
 content: "\2191";
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after {
 right: 0.5em;
 content: "\2193";
}
table.dataTable thead .sorting_asc:before {
 opacity: 1;
}
@media screen and (max-width: 767px) {
 div.dataTables_wrapper div.dataTables_length,
 div.dataTables_wrapper div.dataTables_filter,
 div.dataTables_wrapper div.dataTables_info,
 div.dataTables_wrapper div.dataTables_paginate {
  text-align: center;
 }
}
table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
 border-left-width: 0;
}
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child {
 border-right-width: 0;
}
table.table-bordered.dataTable tbody td {
 border-bottom-width: 0;
}
div.table-responsive > div.dataTables_wrapper > div.row {
 margin: 0;
}
div.table-responsive
 > div.dataTables_wrapper
 > div.row
 > div[class^="col-"]:first-child {
 padding-left: 0;
}
div.table-responsive
 > div.dataTables_wrapper
 > div.row
 > div[class^="col-"]:last-child {
 padding-right: 0;
}
/*! CSS Used from: https://themes.startbootstrap.com/sb-admin-pro/css/styles.css */
*,
*::before,
*::after {
 box-sizing: border-box;
}
.card-header {
 padding: 1rem 1.35rem;
 margin-bottom: 0;
 background-color: rgba(31, 45, 65, 0.03);
 border-bottom: 1px solid rgba(31, 45, 65, 0.125);
}
@media print {
 *,
 *::before,
 *::after {
  text-shadow: none !important;
  box-shadow: none !important;
 }
}
.card-header {
 padding: 1rem 1.35rem;
 margin-bottom: 0;
 background-color: rgba(31, 45, 65, 0.03);
 border-bottom: 1px solid rgba(31, 45, 65, 0.125);
}
