.svg-inline--fa.fa-w-10 {
 width: 0.625em;
}
/*! CSS Used from: https://themes.startbootstrap.com/sb-admin-pro/css/styles.css */
button::-moz-focus-inner {
 padding: 0;
 border-style: none;
}
[type="search"] {
 outline-offset: -2px;
 -webkit-appearance: none;
}
.table-hover tbody tr:hover {
 color: #687281;
 background-color: rgba(227, 230, 236, 0.25);
}
@media (prefers-reduced-motion: reduce) {
 .form-control {
  -webkit-transition: none;
  transition: none;
 }
}
.form-control::-ms-expand {
 background-color: transparent;
 border: 0;
}
.form-control:-moz-focusring {
 color: transparent;
 text-shadow: 0 0 0 #687281;
}
.form-control:focus {
 color: #687281;
 background-color: #fff;
 border-color: #0061f2;
 outline: 0;
 box-shadow: 0 0 0 0.0625rem #0061f2;
}
.form-control::-webkit-input-placeholder {
 color: #687281;
 opacity: 1;
}
.form-control::-moz-placeholder {
 color: #687281;
 opacity: 1;
}
.form-control:-ms-input-placeholder {
 color: #687281;
 opacity: 1;
}
.form-control::-ms-input-placeholder {
 color: #687281;
 opacity: 1;
}
.form-control::placeholder {
 color: #687281;
 opacity: 1;
}
.form-control:disabled {
 background-color: #e3e6ec;
 opacity: 1;
}
.form-control-sm {
 height: calc(1.5em + 0.5rem + 2px);
 padding: 0.25rem 0.5rem;
 font-size: 0.875rem;
 line-height: 1.5;
 border-radius: 0.25rem;
}
@media (prefers-reduced-motion: reduce) {
 .btn {
  -webkit-transition: none;
  transition: none;
 }
}
.btn:hover {
 color: #687281;
 text-decoration: none;
}
.btn:focus {
 outline: 0;
 box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.25);
}
.btn:disabled {
 opacity: 0.65;
}
.custom-select {
 display: inline-block;
 width: 100%;
 height: calc(1.5em + 1rem + 2px);
 padding: 0.5rem 2rem 0.5rem 1rem;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 color: #687281;
 vertical-align: middle;
 background: #fff
  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23323f52' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
  no-repeat right 1rem center/8px 10px;
 border: 1px solid #c5ccd6;
 border-radius: 0.35rem;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}
.custom-select:focus {
 border-color: #0061f2;
 outline: 0;
 box-shadow: 0 0 0 0.0625rem rgba(0, 97, 242, 0.25);
}
.custom-select:disabled {
 color: #687281;
 background-color: #e3e6ec;
}
.custom-select::-ms-expand {
 display: none;
}
.custom-select:-moz-focusring {
 color: transparent;
 text-shadow: 0 0 0 #687281;
}
.custom-select-sm {
 height: calc(1.5em + 0.5rem + 2px);
 padding-top: 0.25rem;
 padding-bottom: 0.25rem;
 padding-left: 0.5rem;
 font-size: 0.875rem;
}
.custom-select {
 -webkit-transition: background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
 .custom-select {
  -webkit-transition: none;
  transition: none;
 }
}
@media (prefers-reduced-motion: reduce) {
 .badge {
  -webkit-transition: none;
  transition: none;
 }
}
.badge:empty {
 display: none;
}
.badge-pill {
 padding-right: 0.6em;
 padding-left: 0.6em;
 border-radius: 10rem;
}
.badge-secondary {
 color: #fff;
 background-color: #6900c7;
}
.badge-info {
 color: #fff;
 background-color: #00cfd5;
}
.badge-warning {
 color: #fff;
 background-color: #f4a100;
}
.mr-2 {
 margin-right: 0.5rem !important;
}
@media print {
 *,
 *::before,
 *::after {
  text-shadow: none !important;
  box-shadow: none !important;
 }
 a:not(.btn) {
  text-decoration: underline;
 }
 thead {
  display: table-header-group;
 }
 tr {
  page-break-inside: avoid;
 }
 .badge {
  border: 1px solid #000;
 }
 .table {
  border-collapse: collapse !important;
 }
 .table td,
 .table th {
  background-color: #fff !important;
 }
 .table-bordered th,
 .table-bordered td {
  border: 1px solid #d7dce3 !important;
 }
 pre {
  white-space: pre-wrap !important;
 }
 pre {
  border: 1px solid #a2acba;
  page-break-inside: avoid;
 }
 img {
  page-break-inside: avoid;
 }
 p {
  orphans: 3;
  widows: 3;
 }
}
.btn-icon {
 padding: 0;
 -webkit-box-pack: center;
 justify-content: center;
 overflow: hidden;
 border-radius: 100%;
 flex-shrink: 0;
 height: calc((1rem * 1.5) + (0.5rem * 2) + (2px)) !important;
 width: calc((1rem * 1.5) + (0.5rem * 2) + (2px)) !important;
}
.btn .feather {
 height: 1rem;
 width: 1rem;
}
.btn-transparent-dark {
 background-color: transparent;
 border-color: transparent;
 color: rgba(31, 45, 65, 0.5) !important;
}
.btn-transparent-dark:hover {
 color: #fff;
 background-color: rgba(31, 45, 65, 0.1);
 border-color: transparent;
}
.btn-transparent-dark:focus {
 color: #fff;
 background-color: rgba(31, 45, 65, 0.1);
 border-color: transparent;
 box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-transparent-dark:disabled {
 color: #fff;
 background-color: transparent;
 border-color: transparent;
}
.btn-transparent-dark:focus {
 box-shadow: 0 0 0 0.2rem rgba(31, 45, 65, 0.25) !important;
}