/*! CSS Used from: Embedded */

.svg-inline--fa.fa-w-12 {
 width: 0.75em;
}
.svg-inline--fa.fa-w-14 {
 width: 0.875em;
}

/*! CSS Used from: https://themes.startbootstrap.com/sb-admin-pro/css/styles.css */
p {
 margin-top: 0;
 margin-bottom: 1rem;
}

a:hover {
 color: #0042a6;
 text-decoration: underline;
}
pre,
code {
 font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;
 font-size: 1em;
}
pre {
 margin-top: 0;
 margin-bottom: 1rem;
 overflow: auto;
}
code {
 font-size: 87.5%;
 color: #e30059;
 word-wrap: break-word;
}
pre {
 display: block;
 font-size: 87.5%;
 color: #687281;
}
pre code {
 font-size: inherit;
 color: inherit;
 word-break: normal;
}
.no-gutters {
 margin-right: 0;
 margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
 padding-right: 0;
 padding-left: 0;
}
.col-lg-9,
.col-lg-3,
.col,
.col-auto {
 position: relative;
 width: 100%;
 padding-right: 0.75rem;
 padding-left: 0.75rem;
}
.col {
 flex-basis: 0;
 -webkit-box-flex: 1;
 flex-grow: 1;
 max-width: 100%;
}
.col-auto {
 -webkit-box-flex: 0;
 flex: 0 0 auto;
 width: auto;
 max-width: 100%;
}
@media (min-width: 992px) {
 .col-lg-3 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
 }
 .col-lg-9 {
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%;
 }
}

select.form-control[multiple] {
 height: auto;
}
.btn-sm {
 padding: 0.25rem 0.5rem;
 font-size: 0.875rem;
 line-height: 1.5;
 border-radius: 0.25rem;
}
.custom-control-input {
 position: absolute;
 left: 0;
 z-index: -1;
 width: 1.15rem;
 height: 1.325rem;
 opacity: 0;
}
.custom-control-input:checked ~ .custom-control-label::before {
 color: #fff;
 border-color: #0061f2;
 background-color: #0061f2;
}
.custom-control-input:focus ~ .custom-control-label::before {
 box-shadow: 0 0 0 0.0625rem #0061f2;
}
.custom-control-input[disabled] ~ .custom-control-label,
.custom-control-input:disabled ~ .custom-control-label {
 color: #687281;
}
.custom-control-input[disabled] ~ .custom-control-label::before,
.custom-control-input:disabled ~ .custom-control-label::before {
 background-color: #e3e6ec;
}
.custom-control-label {
 position: relative;
 margin-bottom: 0;
 vertical-align: top;
}
.custom-control-label::before {
 position: absolute;
 top: 0.175rem;
 left: -1.9rem;
 display: block;
 width: 1.15rem;
 height: 1.15rem;
 pointer-events: none;
 content: "";
 background-color: #fff;
 border: #c5ccd6 solid 1px;
}
.custom-control-label::after {
 position: absolute;
 top: 0.175rem;
 left: -1.9rem;
 display: block;
 width: 1.15rem;
 height: 1.15rem;
 content: "";
 background: no-repeat 50%/50% 50%;
}
.custom-checkbox .custom-control-label::before {
 border-radius: 0.25rem;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}
.custom-checkbox
 .custom-control-input:disabled:checked
 ~ .custom-control-label::before {
 background-color: rgba(0, 97, 242, 0.5);
}
.custom-radio .custom-control-label::before {
 border-radius: 50%;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.custom-radio
 .custom-control-input:disabled:checked
 ~ .custom-control-label::before {
 background-color: rgba(0, 97, 242, 0.5);
}
.custom-control-label::before {
 -webkit-transition: background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
 .custom-control-label::before {
  -webkit-transition: none;
  transition: none;
 }
}

.card-title {
 margin-bottom: 1rem;
}
.text-orange {
 color: #f76400 !important;
}
.text-white-50 {
 color: rgba(255, 255, 255, 0.5) !important;
}
.font-weight-500 {
 font-weight: 500 !important;
}
.btn .feather {
 height: 1rem;
 width: 1rem;
}
.btn-sm .feather {
 height: 0.875rem;
 width: 0.875rem;
}
.card-icon .card-icon-aside {
 display: -webkit-box;
 display: flex;
 -webkit-box-align: center;
 align-items: center;
 -webkit-box-pack: center;
 justify-content: center;
 font-size: 3rem;
 padding: 2rem;
}
.card-icon .card-icon-aside svg {
 height: 3rem;
 width: 3rem;
}
.form-control-solid {
 background-color: #ecf0f6;
 border-color: #ecf0f6;
}
.form-control-solid:focus {
 background-color: #ecf0f6;
}
.nav-sticky {
 top: 5.125rem;
 font-size: 0.9rem;
}
.nav-sticky .nav-link {
 padding-top: 0.25rem;
 padding-bottom: 0.25rem;
}
code[class*="language-"],
pre[class*="language-"] {
 text-align: left;
 white-space: pre;
 word-spacing: normal;
 word-break: normal;
 word-wrap: normal;
 color: #eee;
 background: #2f2f2f;
 font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo",
  monospace;
 font-size: 0.875rem;
 line-height: 1.5em;
 -moz-tab-size: 4;
 -o-tab-size: 4;
 tab-size: 4;
 -webkit-hyphens: none;
 -ms-hyphens: none;
 hyphens: none;
}
code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
 background: #363636;
}
code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
 background: #363636;
}
code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
 background: #363636;
}
pre[class*="language-"] {
 overflow: auto;
 position: relative;
 margin: 0;
 padding: 1rem;
 max-height: 35rem;
}
.token.attr-name {
 color: #ffcb6b;
}
.token.attr-value {
 color: #a5e844;
}
.token.punctuation {
 color: #89ddff;
}
.token.string {
 color: #a5e844;
}
.token.tag {
 color: #ff6666;
}
/*! right sav */
/*! CSS Used from: https://themes.startbootstrap.com/sb-admin-pro/css/styles.css */

a:hover {
 color: #0042a6;
 text-decoration: underline;
}
.sticky-top,
.nav-sticky {
 position: sticky;
 position: -webkit-sticky;
 top: 0px;
 z-index: 1020;
}

.nav-sticky {
 top: 5.125rem;
 font-size: 0.9rem;
}
.nav-sticky .nav-link {
 padding-top: 0.25rem;
 padding-bottom: 0.25rem;
}

.nav-sticky .nav-link.active {
 font-weight: 600;
}


/*! CSS Used from: https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons */
.material-icons {
 font-family: "Material Icons";
 font-weight: normal;
 font-style: normal;
 font-size: 24px;
 line-height: 1;
 letter-spacing: normal;
 text-transform: none;
 display: inline-block;
 white-space: nowrap;
 word-wrap: normal;
 direction: ltr;
 -webkit-font-feature-settings: "liga";
 -webkit-font-smoothing: antialiased;
}

/*! CSS Used from: http://i.jobkorea.kr/content/css/ver_2/mtc/mtc_common-sv-202006181650.css */

button::-moz-focus-inner {
 padding: 0;
 border: 0;
}
