.header {
 background: #7950f2;
 height: 5rem;
 display: flex;
 align-items: center;
}
.header .logo {
 color: white;

 font-weight: 800;
 font-size: 1.5rem;

 cursor: pointer;

 margin-left: 1rem;

 user-select: none;
}

.header .logout {
 margin-left: auto;
 margin-right: 1rem;
 color: white;

 font-weight: 800;
 font-size: 2rem;

 cursor: pointer;
}

/*! CSS Used from: https://blackrockdigital.github.io/startbootstrap-sb-admin-2/css/sb-admin-2.min.css */
*,
::after,
::before {
 box-sizing: border-box;
}
[tabindex="-1"]:focus {
 outline: 0 !important;
}
h5 {
 margin-top: 0;
 margin-bottom: 0.5rem;
}
a {
 color: #4e73df;
 text-decoration: none;
 background-color: transparent;
}
a:hover {
 color: #224abe;
 text-decoration: underline;
}
button {
 border-radius: 0;
}
button:focus {
 outline: 1px dotted;
 outline: 5px auto -webkit-focus-ring-color;
}
button {
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
}
button {
 overflow: visible;
}
button {
 text-transform: none;
}
[type="button"],
button {
 -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
 padding: 0;
 border-style: none;
}
h5 {
 margin-bottom: 0.5rem;
 font-weight: 400;
 line-height: 1.2;
}
h5 {
 font-size: 1.25rem;
}
.btn {
 display: inline-block;
 font-weight: 400;
 color: #858796;
 text-align: center;
 vertical-align: middle;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background-color: transparent;
 border: 1px solid transparent;
 padding: 0.375rem 0.75rem;
 font-size: 1rem;
 line-height: 1.5;
 border-radius: 0.35rem;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
 .btn {
  transition: none;
 }
}
.btn:hover {
 color: #858796;
 text-decoration: none;
}
.btn:focus {
 outline: 0;
 box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}
.btn:disabled {
 opacity: 0.65;
}
.btn-primary {
 color: #fff;
 background-color: #4e73df;
 border-color: #4e73df;
}
.btn-primary:hover {
 color: #fff;
 background-color: #2e59d9;
 border-color: #2653d4;
}
.btn-primary:focus {
 box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}
.btn-primary:disabled {
 color: #fff;
 background-color: #4e73df;
 border-color: #4e73df;
}
.btn-secondary {
 color: #fff;
 background-color: #858796;
 border-color: #858796;
}
.btn-secondary:hover {
 color: #fff;
 background-color: #717384;
 border-color: #6b6d7d;
}
.btn-secondary:focus {
 box-shadow: 0 0 0 0.2rem rgba(151, 153, 166, 0.5);
}
.btn-secondary:disabled {
 color: #fff;
 background-color: #858796;
 border-color: #858796;
}
.fade {
 transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
 .fade {
  transition: none;
 }
}
.close {
 float: right;
 font-size: 1.5rem;
 font-weight: 700;
 line-height: 1;
 color: #000;
 text-shadow: 0 1px 0 #fff;
 opacity: 0.5;
}
.close:hover {
 color: #000;
 text-decoration: none;
}
button.close {
 padding: 0;
 background-color: transparent;
 border: 0;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}
.modal-open .modal {
 overflow-x: hidden;
 overflow-y: auto;
}
.modal {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1050;
 display: none;
 width: 100%;
 height: 100%;
 overflow: hidden;
 outline: 0;
}
.modal-dialog {
 position: relative;
 width: auto;
 margin: 0.5rem;
 pointer-events: none;
}
.modal.fade .modal-dialog {
 transition: transform 0.3s ease-out;
 transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
 .modal.fade .modal-dialog {
  transition: none;
 }
}
.modal.show .modal-dialog {
 transform: none;
}
.modal-content {
 position: relative;
 display: flex;
 flex-direction: column;
 width: 100%;
 pointer-events: auto;
 background-color: #fff;
 background-clip: padding-box;
 border: 1px solid rgba(0, 0, 0, 0.2);
 border-radius: 0.3rem;
 outline: 0;
}
.modal-header {
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
 padding: 1rem 1rem;
 border-bottom: 1px solid #e3e6f0;
 border-top-left-radius: 0.3rem;
 border-top-right-radius: 0.3rem;
}
.modal-header .close {
 padding: 1rem 1rem;
 margin: -1rem -1rem -1rem auto;
}
.modal-title {
 margin-bottom: 0;
 line-height: 1.5;
}
.modal-body {
 position: relative;
 flex: 1 1 auto;
 padding: 1rem;
}
.modal-footer {
 display: flex;
 align-items: center;
 justify-content: flex-end;
 padding: 1rem;
 border-top: 1px solid #e3e6f0;
 border-bottom-right-radius: 0.3rem;
 border-bottom-left-radius: 0.3rem;
}
.modal-footer > :not(:first-child) {
 margin-left: 0.25rem;
}
.modal-footer > :not(:last-child) {
 margin-right: 0.25rem;
}
@media (min-width: 576px) {
 .modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
 }
}
@media print {
 *,
 ::after,
 ::before {
  text-shadow: none !important;
  box-shadow: none !important;
 }
}
a:focus {
 outline: 0;
}
